.contProfileView {
	height: 100%;
}

.headerProfile {
	display: flex;
	justify-content: center;
	height: min-content;
	margin-bottom: 20px;
}

.backHomeProfile {
	position: absolute;
	left: 20px;
	top: 15px;
	height: min-content;
	padding: 7px;
	border-radius: 5px;
	background-color: rgb(239, 239, 239);
}

.headerProfile span {
	margin-top: 20px;
}

.mainContentProfile {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.divContImg {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.contLevel {
	position: absolute;
	bottom: -10px;
	background-color: black;
	color: white;
	height: 25px;
	width: 25px;
	aspect-ratio: 1;
	clip-path: polygon(
		100% 50%,
		75% 93.3%,
		25% 93.3%,
		0% 50%,
		25% 6.7%,
		75% 6.7%
	);
	display: flex;
	justify-content: center;
	align-content: center;
}

.level {
	font-size: 15px;
	margin-top: 5px;
	font-weight: bold;
}

.countryText {
	font-size: smaller;
}

.sectionProfileInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.sectionProfileInfo img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgba(233, 170, 68, 0.866);
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-spacing: 10px;
}

.sectionButtons {
	display: flex;
	justify-content: center;
	margin: 10px;
	gap: 10px;
}

.sectionStatistics {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

.sectionFilterIrlas {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.sectionFilterIrlas button {
	margin: 5px;
	width: 30%;
	padding: 10px;
	border-radius: 15px;
	border: none;
	background-color: #3b82f6;
	font-weight: bold;
	color: white;
}

.btnFollow {
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: #249a72;
	width: 40%;
	font-size: 12px;
	font-weight: bold;
}

.btnTracked {
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: #191919;
	width: 40%;
	font-size: 12px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trackedIrlasText {
	display: flex;
	align-items: center;
	margin-left: 5px;
	font-size: smaller;
}

.contFlexBtnFollow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.followText {
	display: flex;
	align-items: center;
	margin-left: 5px;
	font-size: smaller;
}

.infoProfileText {
	margin-left: 5px;
	font-weight: bold;
	font-size: 12px;
}

.contFullName {
	display: flex;
	align-items: center;
}

.fullName {
	font-weight: bold;
	font-size: 17px;
	margin-right: 10px;
}

.contLocationInfo {
	display: flex;
	align-items: center;
}

.contTarget {
	display: flex;
	align-items: center;
}

/*tablet*/

@media only screen and (min-width: 768px) {
	.headerProfile span {
		font-size: 30px;
	}
	.headerProfile p svg {
		height: 25px;
		width: 25px;
	}
	.contLevel {
		height: 30px;
		width: 30px;
	}

	.level {
		font-size: 19px;
		margin-top: 6px;
		font-weight: bold;
	}

	.sectionProfileInfo img {
		width: 170px;
		height: 170px;
	}
	.mainContentProfile {
		gap: 30px;
	}
	.contFullName {
		display: flex;
		align-items: center;
	}
	.contFullName svg {
		height: 25px;
		width: 25px;
	}
	.fullName {
		font-size: 24px;
	}
	.contLocationInfo svg {
		height: 25px;
		width: 25px;
	}
	.countryText {
		font-size: 20px;
	}
	.contTarget svg {
		height: 25px;
		width: 25px;
	}
	.infoProfileText {
		font-size: 15px;
	}

	.btnFollow {
		font-size: 17px;
		font-weight: bold;
	}
	.btnTracked {
		font-size: 17px;
	}
	.btnTracked svg {
		height: 22px;
		width: 22px;
	}
	.sectionStatistics {
		flex-direction: unset;
		flex-wrap: nowrap;
	}
	.sectionFilterIrlas button {
		margin: 10px;
		width: 40%;
		padding: 15px;
		font-size: 16px;
	}
}

/*web*/
@media only screen and (min-width: 992px) {
	.headerProfile span {
		font-size: 35px;
	}
	.headerProfile p svg {
		height: 35px;
		width: 35px;
	}
	.sectionProfileInfo {
		gap: 10px;
	}
	.sectionProfileInfo img {
		width: 220px;
		height: 220px;
	}

	.sectionButtons {
		display: flex;
		flex-direction: column;
		justify-content: unset;
		align-items: center;
	}
	.btnFollow {
		height: 50px;
	}
	.btnTracked {
		height: 50px;
	}
	.btnTracked svg {
		height: 25px;
		width: 25px;
	}

	.sectionFilterIrlas button {
		margin: 10px;
		width: 40%;
		padding: 15px;
		font-size: 16px;
	}
	.mainContentProfile {
		gap: 50px;
	}
}
