.contItemSlider {
	min-height: 25px;
	min-width: 15%;
	padding: 15px;
}
.contCenterLogo {
	width: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.contLogo {
	border-radius: 50%;
	border: 1.5px dashed #2d2d2d;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contLogoSelected {
	border-radius: 50%;
	border: 1.5px dashed #ffffff;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c4bc66;
}

.contNameItem {
	width: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
	margin-top: 5px;
}

.nameItem {
	font-size: 9px;
	word-break: break-all;
	font-weight: bold;
}
