.contStatistics {
	background-color: rgb(249, 249, 249);
	width: 135px;
	display: flex;
	border-radius: 10px;
	padding: 10px;
}

.contIcon {
	height: 30px;
	display: flex;
	align-items: center;
}

.contStatisticsInfo {
	margin-left: 15px;
	display: grid;
	gap: 5px;
	word-break: break-all;
}

.title {
	font-weight: bold;
	font-size: 15px;
}

.content {
	font-size: 12px;
}
@media only screen and (min-width: 768px) {
	.contStatistics {
		padding: 18px;
		word-break: break-all;
		width: 145px;
	}
	.title {
		font-size: 17px;
	}
	.content {
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) {
	.contStatistics {
		padding: 18px;
		height: 50px;
		word-break: break-all;
		width: 155px;
	}
	.title {
		font-size: 19px;
	}
	.content {
		font-size: 16px;
	}
	.contIcon {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.contIcon svg {
		width: 26px;
		height: 26px;
	}
}
